
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
}

html, body {
  font-family: 'Courier New', monospace;
  height: 100%;
  line-height: 1;
  font-size: 25px;
  font-weight: 400;
  color: #d7d7d7;
  background-color: #252B42;
}
